{% extends "base.html" %}

{% block content %}
    <h1>Create a New Company</h1>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.cieName.label }}<br>
            {{ form.cieName(size=64) }}<br>
            {% for error in form.cieName.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.address.label }}<br>
            {{ form.address(size=160) }}<br>
            {% for error in form.address.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.meanDeliveryTime.label }}<br>
            {{ form.meanDeliveryTime(size=32) }}<br>
            {% for error in form.meanDeliveryTime.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}
