{% extends "base.html" %}

{% block content %}
    <h1>Create a New Item</h1>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.item.label }}<br>
            {{ form.item(size=64) }}<br>
            {% for error in form.item.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.noCatalogue.label }}<br>
            {{ form.noCatalogue(size=32) }}<br>
            {% for error in form.noCatalogue.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.cie.label }}<br>
            {{ form.cie(size=64) }}<br>
            {% for error in form.cie.errors %}
            <span style="color: red;">[{{ error }}]</span>
            <a href="{{ url_for('newCie') }}">Create New Company</a>
            {% endfor %}
        </p>
        <p>
            {{ form.category.label }}<br>
            {{ form.category(size=64) }}<br>
            {% for error in form.category.errors %}
            <span style="color: red;">[{{ error }}]</span>
            <a href="{{ url_for('newDescription') }}">Create a New Item Category</a>
            {% endfor %}
        </p>
        <p>
            {{ form.format.label }}<br>
            {{ form.format(size=64) }}<br>
            {% for error in form.format.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.unit.label }}<br>
            {{ form.unit(size=32) }}<br>
            {% for error in form.unit.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}
