<html>
    <head>
        {% if title %}
        <title>{{ title }} - InventoryApp</title>
        {% else %}
        <title>Welcome to InventoryApp!</title>
        {% endif %}
    </head>
    <body>
        <div>InventoryApp:
          <a href="{{ url_for('index') }}">Home</a>
          {% if current_user.is_anonymous %}
          <a href="{{ url_for('login') }}">Login</a>
          {% else %}
          <a href="{{ url_for('user', username=current_user.username) }}">Profile</a>
          <a href="{{ url_for('newItem') }}">New Item</a>
          <a href="{{ url_for('newCie') }}">New Company</a>
          <a href="{{ url_for('newCategory') }}">New Item Category</a>
          <span style="float:right;">
            <a href="{{ url_for('logout') }}">Logout</a>
          </span>
          {% endif %}
        </div>
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </body>
</html>
