{% extends "base.html" %}

{% block content %}
       <h1>Hi, {{ current_user.username }}!</h1>
       {% for post in posts %}
       <div><p><b>{{ post.body }}</b>, <i>{{ post.timestamp }}</i> by {{ post.author.username }} </p></div>
       {% endfor %}
{% endblock %}
